<div id="content" class="col-lg-10 offset-1">
  <header id="header" class="col-lg-12" [style.background]="header_color">
      <h1>
          Bienvenido al {{ title }}!
        </h1>      
  </header>
  <nav id="nav" class="col-lg-12">
    <ul>
      <li><a [routerLink]="['/home']" [routerLinkActive]="['activado']">Home</a></li>
      <li><a [routerLink]="['/products']" [routerLinkActive]="['activado']">Productos</a></li>
      <li><a [routerLink]="['/create-product']" [routerLinkActive]="['activado']">Crear Producto</a></li>
    </ul>
  </nav>
  <section id="main" class="col-lg-12">
    <!--Componente Actual-->
    <router-outlet></router-outlet>
  </section>
  <footer id="footer" class="col-lg-12">
    <p>Proyecto!</p>
  </footer>
</div>

